@charset "utf-8";
/* CSS Document */
/* サイト全体を設定しています。　色を変更したい場合は、検索サイトで［色辞典］などのワードで検索してください。HPに利用出来る色指定が掲載されているサイトが見つかります。
CSSの設定でわからないな、困ったな、という時には［CSS（またはスタイルシート）　×××］というように、CSS＋やりたいことを検索ワードに打ち込みます。すべてがネットで調べられるわけではありませんが、ある程度までは確認できるので、ぜひ調べてみてください。
 */

/* サイト全体の設定です。背景色・背景画像（あれば）・全体の上部の隙間（不必要なら0に）全体のフォント色が指定されます。
*/
body {
	background-color: #ffffff;
	background-image: url(https://nuresen.be/urljp.png);
	background-repeat: repeat;/*リピートタグを変更する事によって、背景画像の表示が変わります。*/
	margin-top:10px;/*上部の隙間。タイトルの上部分です。*/
	color:#000000;/*サイト全体の文字色。黒に果てしなく近い灰色です。*/
}


/* サイト全体の設定です。フォントの種類・フォントのサイズ・フォント色がテーブルタグ含めて設定されます*/
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #000000;
}
/* フレームページ以外の囲み枠の設定です。これはHTML全体の位置の設定を行なっています。どうしても気になる、という場合以外はこのままにしておいてください。*/

#bodycenter {
	width: 80%;/*画像サイズに合わせて余裕を持って指定されています。*/ 
    text-align: center;
    margin: 0 auto;
	padding: 20px 20px 20px 20px;
	background-color:rgba(255, 255, 255, 0);
	}
#bodyleft {
	width: 80%;/*画像サイズに合わせて余裕を持って指定されています。*/ 
    text-align: left;
    margin: 0 auto;
	background: #FFFFFF;
	}
#bodyframe {
	width:auto;
	text-align:center;
	margin: 0 auto;
	background:#FFF;
}

/* サイト全体のリンクの設定*/

a {
	font-size: 18px;
	color: #4563c2;/*リンクの色を変更したい場合はこちらを指定してください*/
}
/* リンクの下線あるなしの設定*/

a:link {
	text-decoration: none;/*なし、で設定しています。*/
}
/* 過去に見たリンク*/
a:visited {
	text-decoration: none;
	color: #ffffff;/*クリック後のリンク色です。*/
}
/* カーソルを合わせた時のリンク設定 */
a:hover {
	text-decoration: underline;/*マウスカーソルを合わせると、リンクテキストの下にラインが出現します*/
	color: rgb(255, 255, 255);/*合わせた際に変わる色の指定*/
}
/* アクティブなリンク*/
a:active {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
/* h1タグのフォントサイズと色を指定しています。タイトルや日付等、通常のテキストよりも目立たせたい文字にご利用ください*/
h1 {
	font-size: 20px;　/*通常のテキストよりも少し大きくなります。*/
	color: #ff7d3c;
}
/*h2タグのフォントサイズと色を指定しています。h1よりも更に一回り大きな設定です。*/
h2 {
	font-size: 24px;
	color: #ff7d3c;
}
/*h3タグのフォントサイズと色を指定しています。h2よりも更に一回り大きな設定です。h1、h2とはフォントの色も違います。ページタイトルなどにご利用ください*/

h3 {
	font-size:30px;
	color:#ffffff;
}
/*hr(区切り線)に対応しています。1pxの点線を設定しているので、気になる場合は削除、またはCSSを調整してください　灰色のライン、高さ1pixel（一番細いサイズ）の点線です。全てのhrタグに適用されます*/
hr {
	color:#CCC;
	border: 1px dashed;
}
/*HPのタイトルです。h2と同じサイズで、下に20pxの隙間があります。*/
.toptitle {
	font-size:24px;
	margin-bottom:20px;/*隙間が気になる場合は、20を10、15程度に修正してください。*/
}
/*HPのリンクナビ部分の設定です。トップページなどに表示されているリンク（他のページへのジャンプ）部分の設定です。フォントのサイズ、色等です。これも下に隙間が設定されています。また、太字の指定がはいっています。フォントのサイズは通常のテキストと同じです。*/
.navi {
	font-size:18px;
	color:#A0692C;
	font-style: inherit;
	margin-bottom:20px;
	font-weight: bold;/*太字の指定です。気になるなら削除しても問題はありません。*/
}
/*CSSでphoto設定した箇所の画像に全て枠を付けます。画像は幅800px*/
.topphoto img {
    padding: 0px;
	width: 40%;
    height: auto;
}

/*HPのテキスト部分に対応します。*/
.textarea {
	font-size:18px;/*フォントサイズ*/
	line-height:180%;/*行間指定です。ある程度の行間が取ってあります。*/
	text-align:center
	}
/*テキストでピックアップしたい部分に適用します。<p class="picup">ピックアップしたい</p>や、<div class="picup">ピックアップしたい</div>のようにご利用ください*/
.picup {
	color:#C00;
}


/*写真・ギャラリーページのフレーム左側　表示設定です。　左フレーム全体の調整・サムネイルの位置調整　*/


/*フレーム左側のマージン（ページとテキスト等の隙間）の設定。この設定では上下左右5pixelずつ隙間が開くように設定しています。この数値を5以下にするとギチギチに、5以上にすると、フレームがスカスカになってしまいます。デザイン上、良さげなマージン（隙間）を調整してください*/
.bodyframeleft{
	margin:5 5 5 5
}
/*サムネイルを自分で作成する人向けの設定です。サムネイルが面倒・テキストでいい、という場合は、ここから↓指定の箇所まで削除してください。
画像のサムネイル指定を削除した場合は、HTMLのサムネイル用タグも同じように削除してください。
*/
/*画像サムネイル用マージン　上記と同じ隙間設定です。サムネイル画像がギチっと詰まらないように設定されています。画像を隙間なく揃えたい場合は、ここを削除してください。サムネイルは自動的に折り返し表示されます。一定数を表示したい場合は、ご自分でサムネイルの列を調整してください。
指定以外にも、画像と画像の間に全角スペースを入れると、普通にスペースが空きます。それで調整しても大丈夫です*/
.pictmini{
	line-height:180%;
	margin-left:5px;
}
.picmini #img{
	margin:2 2 2 2;
}
/*画像サムネイルを自分で作成しない人は↑ここまで削除してください。*/

.pic{
	    text-align: center;
}
	
/*HPのフッター部分に対応します。コピーライトなどを書き込んでください。※フォント小さめです*/
.footer {
	font-size:80%;/*フォントサイズを、設定されたサイズの80%程度のサイズにします。*/
	margin-top:30px;
	margin-bottom:30px;
}
